*{
    margin: 0;
    padding: 0;
}

.naw{
    color: rgb(0, 0, 0);
    background-color: rgb(92, 185, 255);
    padding: 20px;
    position: sticky;
    top: 0px;
}

.heading{
    color: rgb(0, 0, 0);
    display: inline-block;;
   background-color: rgb(92, 185, 255);
    padding: 5px;
    width: 10%;
    padding-left: 7%;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    
}

.container{
    padding: 15px;
    margin-left: 10px;
}

.eachtask{
    display: flex;
    background-color: rgb(53, 51, 51);
    color: white;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
    width: 50%;
   justify-content: space-between;
   transition: 0.25s;
   
}

form{
    display: inline-block;
}

.add {
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 5px;
   background-color: rgb(155, 255, 102);


}


#vv{
    display: block;
}
.del {
    padding-left: 15px;
   padding-right: 15px;
   border-radius: 5px;;
    margin-left: 5px;
    background-color: rgb(255, 91, 91);

}

#newtask{
    background-color: rgb(92, 185, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 100%;
    position: fixed;
    top: 80%;
    left: 85%;
    transition: 0.5s;

}

#oldtask{
  background-color: rgb(92, 185, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 100%;
    position: fixed;
    top: 80%;
    left: 79%;
    transition: 0.5s;
    
}

#xxx{
    color: rgb(0, 0, 0);
   background-color: rgb(92, 185, 255);
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 10px;

}

#newusertask:focus{
    transform: scale(1.025);
    border: none;
    outline: none;

}

#newusertask{
    width:30%;
    height: 100px;
    border: none;
    box-shadow: 1px 1px 2px rgb(255, 255, 255);
  
    margin-top: 10px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 10px;
    transition: 0.5s;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 45, 45);
}

#newtask:hover{
transform: scale(1.1);
border: 3px solid rgb(250, 250, 250);
color: rgb(255, 255, 255);
background-color: black;
}

#oldtask:hover{
   transform: scale(1.1);
border: 3px solid rgb(250, 250, 250);
color: rgb(255, 255, 255);
background-color: black;
}

.eachtask:hover{
     transform:scale(1.025) ;
    background-color: rgb(92, 185, 255);
     color: black;
}

.add:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 160, 16)
}


.del:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(205, 0, 0)

}

.done{
     width: 50px;
    padding: 5px;
    background-color: rgb(0, 255, 98);
    transition: 0.5;
    border-radius: 5px;
    border: none;
}

.notdone{
    width: 50px;
    padding: 5px;
    background-color: rgb(200, 3, 3);
    transition: 0.5;
    border-radius: 5px;
    border: none;
}



.done:hover{
   transform: scale(1.05);
    background-color: rgb(0, 107, 41);
    
}

.notdone:hover{
   transform: scale(1.05);
      background-color: rgb(106, 0, 0);
}

body{
    background-color: rgb(31, 31, 31);
}


